<div class="login-container opacity-100 w-full h-screen" >
    <div class="w-full h-full form-container flex flex-col items-center py-16 md:py-5 md:px-16">
        <div class="flex flex-col w-fit justify-center self-center gap-16 px-3 md:self-start">
            <div class="flex w-full h-fit items-center justify-center">
                <img src="../../../assets/logo.png" alt="LOGO" class="w-8/12">
            </div>
            <div class="flex flex-col gap-3 w-fit h-fit bg-white_bg py-8 px-16 rounded-2xl md:ml-10">
                <span class="flex flex-col w-full gap-3">
                    <span class=" text-lg text-welcome font-bold w-full flex justify-center md:text-xl">New Password</span>
                    <span class="w-full text-base text-credentials_header flex justify-center">Set a new password to secure your account</span>
                </span>
                <form action="submit" [formGroup]="resetForm" class="flex flex-col gap-7">
                    <span class="flex flex-col gap-7 text-credentials_header text-sm">
                        <span class="relative">
                            <input type="password" placeholder="Old password" class=" p-4 outline outline-credentials_header md:w-80" formControlName="oldPassword">
                            <span *ngIf="resetForm.get('oldPassword')?.invalid && (resetForm.get('oldPassword')?.dirty || resetForm.get('oldPassword')?.touched)" class="text-red-500 absolute -bottom-5 left-0 md:-bottom-5">This field is required is required*</span>
                        </span>
                        <span class="relative">
                            <input type="password" placeholder="New password" formControlName="newPassword" class="p-4 outline outline-credentials_header md:w-80">
                            <span *ngIf="resetForm.get('newPassword')?.invalid && (resetForm.get('newPassword')?.dirty || resetForm.get('newPassword')?.touched)" class="text-red-500 absolute -bottom-5 left-0 md:-bottom-5">This field is required is required*</span>
                        </span>
                    </span>
                    <button type="submit" class='text-white bg-primary-dark p-2 w-full rounded-lg border border-primary-dark active:text-primary-dark active:bg-white' (click)="resetPassword()">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>