.login-container{
    background-image: url('../../../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container{
    background: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0))
}
