<div class="flex flex-row">
    <app-sidenav></app-sidenav>
    <div class="flex flex-col w-full md:ml-60 h-screen">
        <app-header></app-header>
        <div class="flex flex-col gap-4 w-full h-full bg-primary-light p-3 text-base md:p-5">
            <span class="w-full h-fit items-center rounded-lg p-2 bg-white flex flex-col gap-3 md:flex-row md:p-6">
                <span class="bg-primary-light rounded-full justify-center items-center p-4 w-fit hidden md:flex">
                    <img src="../../../assets/User.png" alt="User" class="w-6 h-6">
                </span>
                <span class="h-full w-full flex flex-col gap-3 items-center">
                    <span class="md:text-md self-start">Employees</span>
                    <span class="text-primary-dark text-sm self-start md:text-base">Keep track of employee attendance on
                        daily basis</span>
                </span>
            </span>
            <div class="flex flex-col w-full gap-2 md:w-10/12">
                <div class="flex flex-col gap-8 w-full">
                    <span
                        class="w-full flex flex-col gap-2 md:gap-0 md:flex-row md:items-center md:justify-between p-2">
                        <span class="text-md text-welcome">Cintelcore Employees</span>
                        <span class="flex flex-row gap-3 items-center flex-nowrap">
                            <button
                                class="flex flex-row gap-2 justify-center md:justify-start rounded-lg bg-primary-dark text-white active:bg-white active:text-primary-dark border border-primary-dark text-sm py-2 px-4 w-full cursor-pointer md:w-fit md:text-base"
                                (click)="openForm()">
                                <span>Add Employee</span>
                            </button>
                            <!-- <button class="flex flex-row gap-2 justify-center md:justify-start rounded-lg bg-nav_text text-white border border-primary-dark active:bg-white active:text-primary-dark text-sm py-2 px-4 w-full cursor-pointer md:w-fit md:text-base">
                                <img src="../../../assets/Export.png" alt="" class="w-4 h-4">
                                <span>Export List</span>
                            </button> -->
                        </span>
                    </span>
                    <span class="text-base flex flex-row gap-3">
                        <span class="p-3 bg-white rounded-2xl w-32 flex flex-col gap-1 items-center"
                            [ngClass]="{'bg-primary-light border border-header_text':activeRoute('staff/all-staff')}"
                            (click)="navigate('staff/all-staff')">
                            <p class="w-fit text-base text-header_text text-center">Total Employees</p>
                            <p class='w-fit text-md font-bold text-center'>{{totalStaff}}</p>
                        </span>
                        <span class="p-3 bg-white rounded-2xl w-32 flex flex-col gap-1 items-center"
                            [ngClass]="{'bg-primary-light border border-header_text':activeRoute('staff/active')}"
                            (click)="navigate('staff/active')">
                            <p class="w-fit text-base text-header_text text-center">Active</p>
                            <p class='w-fit text-md font-bold text-center'>{{activeStaff}}</p>
                        </span>
                        <span class="hidden p-3 bg-white rounded-2xl w-32 flex-col gap-1 items-center md:flex"
                            [ngClass]="{'bg-primary-light border border-header_text':activeRoute('staff/on-leave')}"
                            (click)="navigate('staff/on-leave')">
                            <p class="w-fit text-base text-header_text text-center">On Leave</p>
                            <p class='w-fit text-md font-bold text-center'>{{staffOnLeave}}</p>
                        </span>
                        <span class="hidden p-3 bg-white rounded-2xl w-32 flex-col gap-1 items-center md:flex"
                            [ngClass]="{'bg-primary-light border border-header_text':activeRoute('staff/suspended')}"
                            (click)="navigate('staff/suspended')">
                            <p class="w-fit text-base text-header_text text-center">Suspended</p>
                            <p class='w-fit text-md font-bold text-center'>{{suspendedStaff}}</p>
                        </span>
                    </span>
                </div>
                <div class="h-fit">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>


<app-dual-row-form *ngIf="showForm" [abort]="'Close'" (closeEvent)="close()" [formConfig]="formConfig" [formTemplate]="registerForm"
    (formValue)="getFormValue($event)" [size]="'fit'" [submit]="'Register'" [title]="'New Employee'"
    [branches]="branches" [data]="organizations" [currentOrganization]="organizationId" [showSelect]="showOrgSelect">
</app-dual-row-form>